.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0; /* Add a background color if needed */
  border-bottom: 1px solid #ccc; /* Add a bottom border if needed */
}

.app-logo {
  margin-right: 10px;
}

.logo {
  width: 50px; /* Adjust the logo size as needed */
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-right {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-right li {
  margin-left: 20px;
}

.nav-right a {
  text-decoration: none;
  color: #333;
}

.nav-right a:hover {
  color: #666;
}